# Apache X Table with DeltaStreamer and trino Demo

In [ ]:
# Install DEP
!pip install trino
!pip install ipython-sql

# Read data as HUDI

In [29]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [32]:
%sql trino://admin@localhost:8080/default

 * trino://admin@localhost:8080/default
(trino.exceptions.TrinoUserError) TrinoUserError(type=USER_ERROR, name=NOT_FOUND, message="Schema does not exist: hudi.iceberg", query_id=20240412_091603_00013_wmspu)
[SQL: USE iceberg]
(Background on this error at: https://sqlalche.me/e/20/f405)

In [33]:
%sql SHOW CATALOGS

 * trino://admin@localhost:8080/default
Done.

[('delta',), ('hive',), ('hudi',), ('iceberg',), ('minio',), ('system',)]

In [34]:
%sql USE hudi.default

 * trino://admin@localhost:8080/default
Done.

[]

In [35]:
%sql show tables

 * trino://admin@localhost:8080/default
Done.

[('customers',), ('orders',)]

In [36]:
%sql select * from customers

 * trino://admin@localhost:8080/default
Done.

[]

In [7]:
%sql SELECT salesid,referral  FROM sales

 * trino://admin@localhost:8080/default
Done.

[(1, 'Friend'),
 (3, 'WordOfMouth'),
 (5, 'WordOfMouth'),
 (2, 'OnlineAd'),
 (4, 'SocialMedia')]

 %sql describe  sales

# Delta

In [8]:
%sql SHOW CATALOGS

 * trino://admin@localhost:8080/default
Done.

[('delta',), ('hive',), ('hudi',), ('iceberg',), ('minio',), ('system',)]

In [10]:
%sql USE delta.delta_db

 * trino://admin@localhost:8080/default
Done.

[]

In [11]:
%sql show tables

 * trino://admin@localhost:8080/default
Done.

[('delta_sales',)]

In [12]:
%sql select * from delta_sales

 * trino://admin@localhost:8080/default
Done.

[('20240409120804776', '20240409120804776_0_0', '1', '', '3854015c-8a7b-449b-aea2-8e7a1f42d121-0_0-26-28_20240409120804776.parquet', 'r', 1712664387642, 'hive', 'public', 1712664387633, 832, 25906192, None, 1, 101, 1, 'Electronics', Decimal('599.99'), 2, 19682, 'California', 'Express', 'Friend', 1712663944421609),
 ('20240409120804776', '20240409120804776_0_1', '3', '', '3854015c-8a7b-449b-aea2-8e7a1f42d121-0_0-26-28_20240409120804776.parquet', 'r', 1712664387643, 'hive', 'public', 1712664387643, 832, 25906192, None, 3, 103, 2, 'Home & Garden', Decimal('199.50'), 1, 19684, 'Texas', 'Express', 'WordOfMouth', 1712663944433965),
 ('20240409120804776', '20240409120804776_0_2', '5', '', '3854015c-8a7b-449b-aea2-8e7a1f42d121-0_0-26-28_20240409120804776.parquet', 'r', 1712664387644, 'hive', 'public', 1712664387643, 832, 25906192, None, 5, 103, 2, 'Home & Garden', Decimal('199.50'), 1, 19684, 'Texas', 'Express', 'WordOfMouth', 1712663944445790),
 ('20240409120804776', '20240409120804776_0_3', '2', '', '3854015c-8a7b-449b-aea2-8e7a1f42d121-0_0-26-28_20240409120804776.parquet', 'r', 1712664387643, 'hive', 'public', 1712664387642, 832, 25906192, None, 2, 102, 3, 'Clothing', Decimal('49.99'), 5, 19683, 'New York', 'Standard', 'OnlineAd', 1712663944428261),
 ('20240409120804776', '20240409120804776_0_4', '4', '', '3854015c-8a7b-449b-aea2-8e7a1f42d121-0_0-26-28_20240409120804776.parquet', 'r', 1712664387643, 'hive', 'public', 1712664387643, 832, 25906192, None, 4, 104, 4, 'Books', Decimal('15.75'), 3, 19685, 'Florida', 'Standard', 'SocialMedia', 1712663944439996)]

In [17]:
%sql show CATALOGS

 * trino://admin@localhost:8080/default
Done.

[('delta',), ('hive',), ('hudi',), ('iceberg',), ('minio',), ('system',)]

In [19]:
%sql USE iceberg.iceberg_db

 * trino://admin@localhost:8080/default
Done.

[]

In [25]:
%sql show tables

 * trino://admin@localhost:8080/default
Done.

[('ice_sales',)]

In [24]:
%sql select * from ice_sales

 * trino://admin@localhost:8080/default
(trino.exceptions.TrinoExternalError) TrinoExternalError(type=EXTERNAL, name=UNSUPPORTED_TABLE_TYPE, message="Not an Iceberg table: iceberg_db.ice_sales", query_id=20240408_105550_00019_ti2fz)
[SQL: select * from ice_sales]
(Background on this error at: https://sqlalche.me/e/20/e3q8)